body {
  font-family: Arial, sans-serif;
  background-image: url(../img/20200505161623_rxgst.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.registration-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="text"]#captcha {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#captchaText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}